.bottom{
        -fx-background-color: #444444;
    }
}

.button {
    -fx-background-color: transparent;
}

.progress-bar {
    -fx-pref-width: 300px;
    -fx-pref-height: 10px;

}

.progress-bar .track {
    -fx-background-radius: 10;
    -fx-background-color: #9e9e9e;

}

.progress-bar .bar {
    -fx-background-color: #7457e8;
    -fx-border-radius: 50px;
}

